<footer class="index-footer">
    <div class="container-fluid footer-content">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
                <div class="index-footer__logo-wrapper">
                    <img class="index-footer__logo" src="img/logo.png" alt="MParty" class="index-footer__logo"> <br>
                    <p class="index-footer__established">2000-2017</p>
                </div>
            </div>
            <div class="col-xs-5 col-xs-offset-3">
                <div class="index-footer__contacts">
                    <a class="index-footer__tel" href="tel:+9281919292">+7 928 191 92 92</a>
                    <p class="index-footer__address">г. Новочеркасск<br>  ул. Пушкинская 111 <br> сдк Ними ДонГау </p>
                </div>
                <div class="index-footer__text-wrapper">
                    <p class="index-footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dicta eaque eius est eveniet hic laudantium modi, praesentium quo soluta.</p>
                </div>
            </div>
            <div class="index-footer__scene">
                <div class="layer">
                    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg4876" version="1.1" viewBox="0 0 13.01 9.1499996" height="9.1499996mm" width="13.01mm"><defs id="defs4870" /><g transform="translate(-84.209286,-154.84167)" id="layer1"><polygon style="clip-rule:evenodd;fill:#007dad;fill-opacity:0.30196102;fill-rule:nonzero;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision" class="fil37" points="4145,7585 5446,7315 5369,6670 " id="polygon111" transform="matrix(0.01,0,0,0.01,42.759286,88.141667)" /></g></svg>
                </div>
                <div class="layer">
                    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg4876" version="1.1" viewBox="0 0 6.4499998 5.2600002" height="5.2600002mm" width="6.4499998mm"><defs id="defs4870" /><g transform="translate(-70.10238,-278.495)" id="layer1"><polygon style="clip-rule:evenodd;fill:#00759a;fill-rule:nonzero;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision" class="fil33" points="22785,19046 23143,18552 22498,18520 " id="polygon101" transform="matrix(0.01,0,0,0.01,-154.87762,93.295)" /></g></svg>
                </div>
                <div class="layer">
                    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg4876" version="1.1" viewBox="0 0 10.36 5.8600001" height="5.8600001mm" width="10.36mm"><defs id="defs4870" /><g transform="translate(-99.14143,-160.26643)" id="layer1"><polygon style="clip-rule:evenodd;fill:#ce3289;fill-rule:nonzero;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision" class="fil32" points="25612,20017 26361,19431 25325,19491 " id="polygon99" transform="matrix(0.01,0,0,0.01,-154.10857,-34.043571)" /></g></svg>
                </div>
                <div class="layer">
                    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg4876" version="1.1" viewBox="0 0 17.940001 5.23" height="5.23mm" width="17.940001mm"><defs id="defs4870" /><g transform="translate(-52.262143,-246.00405)" id="layer1"><polygon style="clip-rule:evenodd;fill:#e52645;fill-rule:nonzero;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision" class="fil38" points="3861,21735 4401,22202 5655,21679 " id="polygon129" transform="matrix(0.01,0,0,0.01,13.652143,29.214048)" /></g></svg>
                </div>
            </div>
        </div>
    </div>
</footer>