<footer class="index-footer">
    <div class="container-fluid footer-content">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
                <div class="index-footer__logo-wrapper">
                    <img class="index-footer__logo" src="img/logo.png" alt="MParty" class="index-footer__logo"> <br>
                    <p class="index-footer__established">2000-2017</p>
                </div>
            </div>
            <div class="col-xs-5 col-xs-offset-3">
                <div class="index-footer__contacts">
                    <a class="index-footer__tel" href="tel:+9281919292">+7 928 191 92 92</a>
                    <p class="index-footer__address">Ростов-на-Дону <br> ул. Эмпативская, 38</p>
                </div>
                <div class="index-footer__text-wrapper">
                    <p class="index-footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dicta eaque eius est eveniet hic laudantium modi, praesentium quo soluta.</p>
                </div>
            </div>
        </div>
    </div>
</footer>