<article class="service-item">
    <a href="{{this.href}}" class="service-item__link">
        <img src="{{this.src}}" alt="{{this.title}}" class="service-item__bg">
        <h2 class="service-item__title">{{this.title}}</h2>
    </a>
</article>