.index-article {
  font-size: 10px;
  text-align: right;
}

.index-article__title {
  position: relative;

  .font(@fira-sans, 2.4em, 4em, 700);
  color: @black;
  text-transform: uppercase;

  &::after {
    .pseudo();
    width: 8.33333%;
    height: 4px;

    bottom: 0;
    right: 0;

    background-image: linear-gradient( 90deg, rgb(251,29,81) 0%, rgb(115,17,183) 58%, rgb(58,50,192) 83%, rgb(0,82,200) 98%);
  }
}

.index-article__text {
  margin: 32px 0;
  .font(@fira-book, 1.8em, 1.2em, 400);
  color: @black;
}

.index-article__order-btn {
  display: inline-block;
  width: 24.99999%;
  padding: 15px;

  text-align: center;
  text-transform: uppercase;

  .font(@fira-book, 2.4em, 1em, 400);
  color: @white;

  background-image: linear-gradient( -121deg, rgb(255,129,49) 0%, rgb(255,196,38) 100%);

  @media @md-desktop {
    width: 40%;
  }
}

