<article class="index-article">
    <h2 class="index-article__title">{{title}}</h2>
    <p class="index-article__text">{{text}}</p>
    <a class="index-article__order-btn" href="#">Заказать артистов</a>
</article>