<article class="index-article">
    {{> components/article-title/article-title this}}
    <p class="index-article__text index-article__text--{{mod}}">{{{text}}}</p>
    {{> components/order-btn/order-btn href='#' value='Заказать артистов'}}
</article>