.index-article {
  font-size: 10px;
  text-align: right;
}

.index-article__text {
  padding: 32px 0;
  .font(@fira-book, 1.8em, 1.2em, 400);
  color: @black;

  &--left {
    text-align: left;
  }
}

