<nav class="index-nav">
    <a href="/">
        <img class="index-nav__logo" src="img/logo.png" alt="mParty">
    </a>
    <ul class="index-nav__list">
        <li class="index-nav__item"><a href="poster.html" class="index-nav__link">Афиша мероприятий</a></li>
        <li class="index-nav__item"><a href="repertoire.html" class="index-nav__link">Репертуар</a></li>
        <li class="index-nav__item"><a href="services.html" class="index-nav__link">Услуги</a></li>
        <li class="index-nav__item"><a href="#" class="index-nav__link">Вершины успеха</a></li>
        <li class="index-nav__item"><a href="#" class="index-nav__link">Ведущий М.Розанов</a></li>
        <li class="index-nav__item"><a href="poster.html" class="index-nav__link">Школа танцев</a></li>
    </ul>
</nav>
