<nav class="index-nav">
    <img class="index-nav__logo" src="img/logo.png" alt="mParty">
    <ul class="index-nav__list">
        <li class="index-nav__item"><a href="" class="index-nav__link">Афиша мероприятий</a></li>
        <li class="index-nav__item"><a href="" class="index-nav__link">Репертуар</a></li>
        <li class="index-nav__item"><a href="" class="index-nav__link">Услуги</a></li>
        <li class="index-nav__item"><a href="" class="index-nav__link">Вершины успеха</a></li>
        <li class="index-nav__item"><a href="" class="index-nav__link">Ведущий М.Розанов</a></li>
        <li class="index-nav__item"><a href="" class="index-nav__link">Школа танцев</a></li>
    </ul>
</nav>
