<div class="video-feed">
    <div class="video-feed__cards">
        {{> components/video-card/video-card}}
        {{> components/video-card/video-card}}
    </div>
    <div class="video-feed__btn">
        {{> components/secondary-btn/secondary-btn href='#' title='Больше видео'}}
    </div>
</div>