<div class="poster-banner">
    <h2 class="poster-banner__title">Шоу-балет M-PARTY проводит набор<br>в основной состав</h2>
    <p class="poster-banner__schedule">Занятия: Пн, Вт, Чт, Пт с 18:00</p>
    <p class="poster-banner__features">
        Современные танцевальные направления <br>
        Насыщенная творческая жизнь <br>
        Шоу-постановки
    </p>
    {{> components/primary-btn/primary-btn href="#" value="Записаться" action='modal'}}
    <p class="poster-banner__contacts">
        актовый зал НИМИ <br>
        Пушкинская, 111 <br>
        <a href="tel:+79281919292">8 928 191 92 92</a>
    </p>
</div>
{{> components/scene-prlx/scene-prlx}}