<div class="poster-banner">
    <h2 class="poster-banner__title">Детские студии - спутники M-PARTY</h2>
    <p class="poster-banner__features">
        Приглашаем детей и подростков от 3-х до 16-ти лет <br>
        На занятия в детские и юношеские <br>
        студии коллектива
    </p>
    {{> components/primary-btn/primary-btn href="#" value="Записаться" action='modal'}}
</div>
{{> components/scene-prlx/scene-prlx}}