<div class="video-card">
    <div class="video-card__poster-wrapper">
        <img src="img/video-feed/video-card-poster-1.jpg" alt="" class="video-card__poster img-responsive">
    </div>
    <div class="video-card__info">
        <p class="video-card__info-name">Свадьба Виктора и Виктории</p>
        <p class="video-card__info-date">17.07.2017</p>
    </div>
</div>