<article class="tile-item">
    <img src="img/news/news-item.jpg" alt="Мастер-класс" class="tile-item__img">
    <p class="tile-item__caption">Мастер класс от Алексея Калачева</p>
    <p class="tile-item__caption-date">11.11.2017</p>
</article>