<article class="school-item row">
    <div class="school-item__info-wrapper col-xs-5">
        <h5 class="school-item__address">
            {{{address}}}
        </h5>
        {{#each ages}}
            <p class="school-item__age">#{{this}}</p>
        {{/each}}
    </div>
    <div class="school-item__img-wrapper col-xs-offset-1 col-xs-5">
        <img class="school-item__img" src="{{src}}" alt="Школа танцев M-Party">
    </div>
</article>