<h2 class="schedule__title">{{title}}</h2>
<div class="schedule__table table">
    <div class="colgroup">
        <div class="col"></div>
    </div>
    <div class="thead">
        <div class="tr">
            <div class="td cross-out">
                <div class="mask"></div>
                <span class="span--top">день недели</span>
                <span class="span--bottom">группа</span>
            </div>
            <div class="td">Пн</div>
            <div class="td">Вт</div>
            <div class="td">Ср</div>
            <div class="td">Чт</div>
            <div class="td">Пт</div>
        </div>
    </div>
    <div class="tbody">
        <div class="tr">
            <div class="td td--white">младшая начальная<br>3-5 лет</div>
            <div class="td">18:00</div>
            <div class="td"></div>
            <div class="td"></div>
            <div class="td"></div>
            <div class="td">18:00</div>
        </div>
        <div class="tr">
            <div class="td td--white">младшая<br>6-9 лет</div>
            <div class="td">19:00</div>
            <div class="td"></div>
            <div class="td">18:00</div>
            <div class="td"></div>
            <div class="td">19:00</div>
        </div>
        <div class="tr">
            <div class="td td--white">средняя и старшая<br>10-15 лет</div>
            <div class="td"></div>
            <div class="td"></div>
            <div class="td">19:00</div>
            <div class="td">18:00</div>
            <div class="td">19:00</div>
        </div>
    </div>
</div>
