<div class="col-xs-offset-1 col-xs-10">
    {{> components/article-title/article-title title='Расписание занятий'}}
    <p class="schedule-slider__address"></p>
    <div class="schedule-slider" data-active="0">
        <span class="schedule-slider__before"></span>
        <span class="schedule-slider__after"></span>
        {{> components/schedule/schedule title=''}}
    </div>
</div>
