<div class="index-banner">
    <h1 class="index-banner__title">
        <img class="index-banner__logo" src="img/logo-index.png" alt="MParty">
        <p class="index-banner__text">Шоу балет</p>
    </h1>
    <div class="index-banner__btn-wrapper">
        {{> components/primary-btn/primary-btn href="#" value="Афиша мероприятий"}}
        {{> components/primary-btn/primary-btn href="#" value="Репертуар"}}
        {{> components/primary-btn/primary-btn href="#" value="Услуги"}}
    </div>
    <svg class="index-banner__mask" height="100" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 100,0 100,100" style="fill: #ffffff;"/>
    </svg>
    {{!--<div class="index-banner__bottom-decor">--}}
        <img class="index-banner__bottom-decor" src="img/polygons2.svg" alt="">
    {{!--</div>--}}
    <div class="index-banner__scene">
        <div class="layer" data-depth="0.20">
            {{!--1-2.svg, 5.svg, 6.svg--}}
            <svg class="default" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.9370023 11.046283" height="11.046283mm" width="9.9370022mm"><defs id="defs2"><linearGradient id="linearGradient4511"><stop id="stop4507" offset="0" style="stop-color:#f8ae1a;stop-opacity:1" /><stop id="stop4509" offset="1" style="stop-color:#fdca1d;stop-opacity:1" /></linearGradient><linearGradient y2="65.678223" x2="59.868374" y1="74.16716" x1="57.239216" gradientUnits="userSpaceOnUse" id="linearGradient4515" xlink:href="#linearGradient4511" /></defs><g transform="translate(-41.870481,-55.254713)" id="layer1"><path transform="matrix(0.93439201,0,0.18181823,1.1071521,-20.773653,-17.461069)" style="fill:url(#linearGradient4515);fill-opacity:1;" d="m 59.868372,65.678222 1.543823,4.988602 1.543823,4.988603 -5.092167,-1.157311 -5.092168,-1.157311 3.548344,-3.831291 z" id="path29" /></g></svg>
            <svg class="bottom-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.4101715 9.6864948" height="36.61" width="24.227"><path d="M.222 9.455L3.43.368l2.807 6.681z" fill="#ea158b" stroke="#000" stroke-width=".265" stroke-dasharray="0,2.91499989"/></svg>
            <svg class="center-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8511972 8.4212713" height="31.828" width="25.894"><path d="M1.356 8.072L6.568.188.154 1.39z" fill="#ea6f15" stroke="#000" stroke-width=".265" stroke-dasharray="0,2.91499989"/></svg>
        </div>
        <div class="layer" data-depth="0.40">
            {{!--2.svg 7.svg--}}
            <svg class="center-middle" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.953405 27.407854" height="27.407854mm" width="24.953405mm"><defs id="defs4522"><linearGradient gradientTransform="translate(42.375569,36.984976)" gradientUnits="userSpaceOnUse" y2="123.6226" x2="72.222809" y1="137.0392" x1="72.29641" id="linearGradient4516" xlink:href="#linearGradient4514" /><linearGradient id="linearGradient4514"><stop id="stop4510" offset="0" style="stop-color:#e40481;stop-opacity:0.25490198" /><stop id="stop4512" offset="1" style="stop-color:#ff0080;stop-opacity:0.01005025" /></linearGradient></defs><g transform="translate(-101.6721,-152.51631)" id="layer1"><path id="path4502" d="m 101.97667,179.63683 24.45516,-11.35897 -10.0226,-15.50163 z" style="fill:url(#linearGradient4516);fill-opacity:1;" /></g></svg>
            <svg class="right-middle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 29.384365 18.818464" height="71.125" width="111.059"><defs><linearGradient gradientUnits="userSpaceOnUse" y2="132.313" x2="156.097" y1="114.273" x1="172.4" id="b" xlink:href="#a" gradientTransform="translate(-75.826 101.32)"/><linearGradient id="a"><stop offset="0" stop-color="#9fc62b" stop-opacity=".749"/><stop offset="1" stop-color="#1cad9c" stop-opacity=".98"/></linearGradient></defs><path d="M80.27 233.634l28.721-15.32-22.05-3.073z" fill="url(#b)" stroke="#000" stroke-width=".265" stroke-dasharray="0,2.91499989" transform="translate(-80.029 -215.095)"/></svg>
        </div>
        <div class="layer" data-depth="0.60">
            {{!--1-1.svg 4.svg--}}
            <svg class="left-middle" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg8" version="1.1" viewBox="0 0 29.279273 20.317299" height="20.317299mm" width="29.279272mm"><defs id="defs2"><linearGradient id="linearGradient4521"><stop id="stop4517" offset="0" style="stop-color:#fece1c;stop-opacity:0.99215686" /><stop id="stop4519" offset="1" style="stop-color:#dedb1a;stop-opacity:1" /></linearGradient><linearGradient gradientUnits="userSpaceOnUse" y2="98.649414" x2="64.893295" y1="126.22243" x1="67.169266" id="linearGradient4523" xlink:href="#linearGradient4521" /></defs><g transform="translate(-42.020176,-68.426076)" id="layer1"><path transform="matrix(0.73365777,-0.19512465,0.63511755,0.62482861,-58.145889,22.982364)" style="fill:url(#linearGradient4523);fill-opacity:1;" d="M 82.089073,98.365076 74.629168,112.29376 67.169263,126.22244 58.836624,112.79763 50.503985,99.372822 66.296529,98.868949 Z" id="path23" /></g></svg>
            <svg class="right-top" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.205647 17.57902" height="17.57902mm" width="16.205647mm"><defs id="defs4522"><linearGradient gradientUnits="userSpaceOnUse" y2="94.78022" x2="158.7924" y1="94.78022" x1="142.58676" id="linearGradient5147" xlink:href="#linearGradient5145" gradientTransform="translate(4.8854164,181.05311)" /><linearGradient id="linearGradient5145"><stop id="stop5141" offset="0" style="stop-color:#f8f300;stop-opacity:0.86274511" /><stop id="stop5143" offset="1" style="stop-color:#ffce19;stop-opacity:0.9137255" /></linearGradient></defs><g transform="translate(-147.47218,-267.04382)" id="layer1"><path id="path4500" d="m 147.74098,267.17745 -0.13364,17.10526 15.7689,-16.97162 z" style="fill:url(#linearGradient5147);fill-opacity:1;"/></g></svg>
        </div>
        <div class="layer" data-depth="0.80">
            {{!--3.svg--}}
            <svg class="right-middle--double" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.265465 34.171135" height="34.171135mm" width="16.265465mm"><defs><linearGradient gradientTransform="translate(-85.121091,24.889858)" gradientUnits="userSpaceOnUse" y2="141.44913" x2="144.45917" y1="124.03126" x1="131.19946" id="linearGradient5106" xlink:href="#linearGradient5112" /><linearGradient id="linearGradient5112"><stop style="stop-color:#abe40f;stop-opacity:0.58431375" offset="0" id="stop5108" /><stop style="stop-color:#00c7ab;stop-opacity:0.90588236" offset="1"id="stop5110" /></linearGradient></defs><g transform="translate(-43.27203,-132.50372)" id="layer1"><path id="path4504" d="m 43.435548,153.24279 15.90254,13.0962 -6.41447,-33.40869 z" style="fill:url(#linearGradient5106);fill-opacity:1;opacity:0.706"/></g></svg>
        </div>
    </div>
</div>