.index-banner-wrapper {
  padding: 25vh 0 0 0;
  margin-bottom: 80px;
  height: calc(~'100vh + 100px');

  background: url('../img/index-banner.png') no-repeat center top;
  background-size: cover;

  font-size: 10px;
  box-sizing: border-box;

  @media @wide-desktop {
    padding-top: 10vh;
  }
}

.index-banner__title {
  text-align: center;
  margin-bottom: 10vh;

  @media @wide-desktop {
    margin-bottom: 0;
  };
}

.index-banner__logo {
  display: block;
  margin: 0 auto;
}

.index-banner__text {
  display: block;
  position: relative;
  left: 28px;
  top: -114px;
  text-transform: uppercase;
  .font(@fira-sans, 1.5em, 1em, 200);
  color: @white;
}

.index-banner__btn-wrapper {
  display: flex;
  justify-content: space-around;

  .primary-btn {
    width: 20%;
  }
}