<div class="index-banner">
    <h1 class="index-banner__title">
        <img class="index-banner__logo" src="img/logo-index.png" alt="MParty">
        <p class="index-banner__text">Шоу балет</p>
    </h1>
    <div class="index-banner__btn-wrapper">
        {{> components/primary-btn/primary-btn href="#" value="Афиша мероприятий"}}
        {{> components/primary-btn/primary-btn href="#" value="Репертуар"}}
        {{> components/primary-btn/primary-btn href="#" value="Услуги"}}
    </div>
</div>
{{> components/scene-prlx/scene-prlx}}