<div class="socials">
    <ul class="socials__list">
        <li class="socials__item"><a target="_blank" rel="noopener" rel="noreferrer" href="https://ok.ru/mikhail.rozanov" class="socials__link socials__link--ok"></a></li>
        <li class="socials__item"><a target="_blank" rel="noopener" rel="noreferrer" href="https://www.facebook.com/mihail.rozanov" class="socials__link socials__link--fa"></a></li>
        <li class="socials__item"><a target="_blank" rel="noopener" rel="noreferrer" href="https://www.instagram.com/mixail_rozanov/" class="socials__link socials__link--inst"></a></li>
        <li class="socials__item"><a target="_blank" rel="noopener" rel="noreferrer" href="https://vk.com/club12447418" class="socials__link socials__link--vk"></a></li>
    </ul>
</div>