.content-wrapper {

  &--index,
  &--services,
  &--poster,
  &--competition {
    padding-bottom: 415px;
  }

  &--repertoire {
    padding-bottom: 300px;
  }

  &--service-item,
  &--compere {
    padding-bottom: 415px;
  }

  &--school {
    padding-bottom: 435px;
  }

  &--booking {
    padding-bottom: 450px;
  }
}