.container {
  width: 1200px !important;
}
//
//body {
//
//  font-size: 10px;
//
//  .btn {
//    font-size: inherit;
//  }
//}
//
//.container,
//.container-fluid {
//
//  @media only screen and (min-width : 992px), screen and (max-height: 768px) {
//    font-size: 8px;
//  }
//
//  @media only screen and (min-width : 1200px) {
//    font-size: 10px;
//  }
//
//  @media @wide-desktop {
//    font-size: 8px;
//  }
//
//}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  //padding-bottom: 265px;
  position: relative;
}

.is-table-row {
  display: table;
}
.is-table-row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}