<div class="banner">
    <h2 class="banner__title">
        {{title}}
    </h2>
    <svg class="banner__mask" height="100" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 100,0 100,100" style="fill: #ffffff;"/>
    </svg>
    <div class="banner__after-decor"></div>
</div>