<div id="calendar">
    <div class="calendar__active-month"></div>
    <div class="calendar__month-toggle calendar__month-toggle--next">
        <span>›</span>
    </div>
    <div class="calendar__month-toggle calendar__month-toggle--prev">
        <span>‹</span>
    </div>
    <div class="table">
        <div class="thead">
            <div class="tr calendar__days">
                <div class="td">Пн</div>
                <div class="td">Вт</div>
                <div class="td">Ср</div>
                <div class="td">Чт</div>
                <div class="td">Пт</div>
                <div class="td">Сб</div>
                <div class="td">Вс</div>
            </div>
        </div>
        <div class="tbody">
        </div>
    </div>
</div>
