{{#> layouts/base title="Свадьба"}}
    {{#* inline "nav"}}
        {{> components/nav}}
    {{/inline}}

    {{#*inline "content-block"}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    <div class="nav-content-wrapper">
                        {{> components/index-nav/index-nav}}
                        {{> components/socials/socials}}
                    </div>
                </div>
                <div class="col-xs-10 content-wrapper content-wrapper--compere">
                    <div class="row">
                        <div class="compere-wrapper">
                            {{> components/banner/banner title='' bg='compere'}}
                            <div class="compere">
                                <h1 class="compere__title">Ведущий <br> <span>Михаил Розанов</span></h1>
                                <ul class="compere__features-list">
                                    <li class="compere__features-item">ОПЫТ ВЕДЕНИЯ (БОЛЕЕ 700 МЕРОПРИЯТИЙ)</li>
                                    <li class="compere__features-item">АКТЕРСКАЯ ШКОЛА (Ярославский ГТИ)</li>
                                    <li class="compere__features-item">РЕЖИССЕРСКИЙ ПОДХОД (СПбГУКИ, МХАТ им. А.П. Чехова)</li>
                                    <li class="compere__features-item">СОБСТВЕННЫЙ ЯРКИЙ И ЗРЕЛИЩНЫЙ ШОУ-БАЛЕТ "M-PARTY"</li>
                                    <li class="compere__features-item">НЕИССЯКАМАЯ ЭНЕРГИЯ И ЗАДОР</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 text-left">
                            {{> components/index-article/index-article title='Ведущий на ваш праздник' text='Вы пока еще даже
                            не представляете каким будет Ваш праздник, сколько трепетных моментов Вы переживете, какие
                            из них будете вновь и вновь перелистывать в памяти в дальнейшем, в какие ощущения захотите
                            вернуться заново, не знаете что именно сделает ЭТОТ день особенным и необыкновенным? Пока
                            что Вы только совершили важный в жизни шаг, приняли или сделали предложение и теперь с
                            головой окунулись в суету подготовки.' mod='left'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="promo">
                            <img src="img/wedding.jpg" alt="Ведение свадеб" class="promo__img">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <p class="info">
                                Что поможет Вам в выборе наших услуг :<br>
                                <br>
                                <span class="info__features">
                                    неоценимый опыт и знания ведения и построения мероприятия как - фундамент,
                                </span>
                                <span class="info__features">
                                    харизматичность, артистизм, творческие способности, мастерство — как связующая основа,
                                </span>
                                <span class="info__features">
                                    и самое главное, мы работаем большим творческим (Шоу-балет, вокалисты, музыканты, режиссеры, артисты, осветители ) и исполнительным коллективом (организаторы, декораторы, флористы, реквизиторы и т.д.). Продуктивно взаимодействуем с фотографами, видеографами, оформителями всего Ростовского региона. Все это является в итоге теми немаловажными нюансами, которые создают атмосферу и особенность праздника, с которыми сталкиваются ваши гости, то, что производит впечатление на событии, работа, которая остается в памяти .
                                </span>
                                <span class="info__features">
                                    Доверяясь нам Вы получаете готовую яркую, искрометную, неповторимую шоу- программу, насыщенный эмоциональный день, творчески насыщенный вечер! И для этого не нужно собирать все в разных уголках города, обращаясь в разные организации и коллективы. все это работает под узнаваемой зарекомендовавшей себя маркой "M-PARTY" (Центр подписки положительными эмоциями). Обладатели премии "Лучшее шоу Ростовской области 2014г"
                                </span>
                                Остается только более подробно познакомиться с нашим творчеством и выбрать что-то для себя,
                                а что касается традиций, конкурсов, застольных моментов — то куда же без них. Но подать мы постараемся их под аппетитным, вкусным, аккуратным соусом, когда известная традиция заиграет чуть-чуть другим современным светом, навязчивые нудные конкурсы превратиться в стихийные интересные задания, а гости постепенно окажутся вовлеченными в единое захватывающее действо ... Доверьтесь, побывайте на нашем празднике, и, поверьте, в дальнейшем мы уже будем постоянными гостями на Ваших жизненных событиях!
                            </p>
                            {{> components/order-btn/order-btn href='booking.html' value='Заказать артистов'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-10">
                            {{> components/article-title/article-title title='Видео' mod='full'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{> components/video-feed/video-feed}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
    {{/inline}}

    {{#* inline "scripts-block"}}

    {{/inline}}
{{/layouts/base}}