{{#> layouts/base title="Свадьба"}}
    {{#* inline "head-block"}}
        <link rel="stylesheet" href="plugins/flexslider/flexslider.css">
    {{/inline}}

    {{#*inline "content-block"}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    <div class="nav-content-wrapper">
                        {{> components/index-nav/index-nav}}
                        {{> components/socials/socials}}
                    </div>
                </div>
                <div class="col-xs-10 content-wrapper content-wrapper--competition">
                    <div class="row">
                        <div class="competition-poster">
                            {{> components/scene-prlx/scene-prlx}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-2">
                            {{> components/index-article/index-article
                                title='Региональный конкурс - праздник детского хореографического искусства «Вершины Успеха»'
                                text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto assumenda at atque aut beatae consectetur culpa cupiditate debitis dicta ea eius eligendi eos et excepturi exercitationem impedit in inventore minima minus molestias necessitatibus nostrum officiis, perspiciatis praesentium, quas quo quos repellat repellendus sint soluta sunt temporibus! Error, illum.'
                                enroll=true
                            }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="promo-slider promo-slider--inverse">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="img/compere-slider/wedding.jpg" alt="Ведение свадеб" class="promo__img">
                                    </li>
                                    <li>
                                        <img src="img/compere-slider/1.jpg" alt="Ведение свадеб" class="promo__img">
                                    </li>
                                    <li>
                                        <img src="img/compere-slider/2.jpg" alt="Ведение свадеб" class="promo__img">
                                    </li>
                                    <li>
                                        <img src="img/compere-slider/3.jpg" alt="Ведение свадеб" class="promo__img">
                                    </li>
                                    <li>
                                        <img src="img/compere-slider/4.jpg" alt="Ведение свадеб" class="promo__img">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-1">
                            {{> components/secondary-btn/secondary-btn title='Посмотреть видео'}}
                            <a href="#" class="download">Скачать положение о конкурсе</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
        {{> components/modal/modal title='Подача заявки на участие' enroll=true action='competition_callback.php'}}
    {{/inline}}

    {{#* inline "scripts-block"}}
        <script src="plugins/parallax/parallax.min.js"></script>
        <script src="plugins/maskedInput/masked.input.js"></script>
        <script src="plugins/jqueryValidate/jquery.validate.js"></script>
        <script src="plugins/flexslider/jquery.flexslider.js"></script>
    {{/inline}}
{{/layouts/base}}