{{#> layouts/base title="Index" }}

    {{#* inline "nav"}}
        {{> components/nav}}
    {{/inline}}

    {{#*inline "content-block"}}
        <div class="container-fluid site-wrapper">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    {{> components/index-nav/index-nav}}
                    {{> components/socials/socials}}
                </div>
                <div class="col-xs-10 content-wrapper content-wrapper--index">
                    <div class="row">
                        <div class="col-xs-12 index-banner-wrapper">
                            {{> components/index-banner/index-banner}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-2">
                            {{> components/index-article/index-article title='Шоу балет для вашего праздника' text='M-PARTY- центр подпитки положительными эмоциями!
                                M-PARTY – яркий , модный, зрелищный коллектив !
                                M-PARTY – это жизнь на сцене, творческие новинки, постоянно обновляемый репертуар
                                Это невероятная энергетика выступлений, стильные, модные неповторимые костюмы, завораживающие сюжеты, запоминающиеся номера
                                M-PARTY – это целый творческий мир, обьединяющий увлеченных людей от мала до велика!

                                Это 16 лет творческого пути.
                                Более 1000 проведенных мероприятий, концертов, свадеб, дней рождений, выпускных балов.
                                Это выступления по всей России и за рубежом.
                                Это невероятный приобретенный организационный опыт.
                                Слаженная команда режиссеров, постановщиков, звукооператоров, осветителей, ведущих, музыкантов, обьединенных под одним брендом.
                                Это всегда качественные мероприятия!
                                Каждое из них отличается особым подходом и незабываемым подчерком.
                                У нас вы всегда  найдете для себя  что то необычное и запоминающееся!
                                Стоит только набрать номер…'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
    {{/inline}}

    {{#* inline "footer-block"}}

    {{/inline}}

    {{#* inline "scripts-block"}}
        <script src="plugins/parallax/parallax.min.js"></script>
    {{/inline}}

{{/layouts/base}}