{{#> layouts/base title="Index" }}


    {{#* inline "nav"}}
        {{> components/nav}}
    {{/inline}}

    {{#*inline "content-block"}}
        <div class="container-fluid content-wrapper">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    {{> components/index-nav/index-nav}}
                    {{> components/socials/socials}}
                </div>
                <div class="col-xs-10 index-content-wrapper">
                    <div class="row">
                        <div class="col-xs-12 index-banner-wrapper">
                            {{> components/index-banner/index-banner}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-2">
                            {{> components/index-article/index-article}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
    {{/inline}}

    {{#* inline "footer-block"}}

    {{/inline}}

    {{#* inline "scripts-block"}}
        <script src="plugins/parallax/parallax.min.js"></script>
    {{/inline}}

{{/layouts/base}}