{{#> layouts/base title="Index" }}

    {{#* inline "nav"}}
        {{> components/nav}}
    {{/inline}}

    {{#*inline "content-block"}}
        <div class="container-fluid site-wrapper">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    {{> components/index-nav/index-nav}}
                    {{> components/socials/socials}}
                </div>
                <div class="col-xs-10 content-wrapper content-wrapper--index">
                    <div class="row">
                        <div class="col-xs-12 index-banner-wrapper">
                            {{> components/index-banner/index-banner}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-2">
                            {{> components/index-article/index-article title='Шоу балет для вашего праздника' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab, aut cupiditate eos eum exercitationem fugiat harum laudantium necessitatibus officia pariatur perferendis placeat quas, quisquam vitae. Aliquam dolor eum eveniet expedita explicabo iste itaque, libero necessitatibus numquam, recusandae repudiandae, sed sequi vero. At consectetur est ipsa maxime minus modi optio possimus provident, reiciendis voluptatem. Aliquid animi assumenda aut beatae blanditiis consectetur consequatur consequuntur deleniti deserunt dicta distinctio ea eligendi, illum labore magnam molestiae obcaecati officia quam ratione rerum sapiente sed sint ut veniam voluptate voluptatem voluptatibus! Ad consequatur dolorum, enim facere illo iste labore laudantium necessitatibus quaerat quia ratione tenetur.'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
    {{/inline}}

    {{#* inline "footer-block"}}

    {{/inline}}

    {{#* inline "scripts-block"}}
        <script src="plugins/parallax/parallax.min.js"></script>
    {{/inline}}

{{/layouts/base}}