{{#> layouts/base title="Школа" }}
    {{#*inline "content-block"}}
        <div class="container-fluid site-wrapper">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    <div class="nav-content-wrapper">
                        {{> components/index-nav/index-nav}}
                        {{> components/socials/socials}}
                    </div>
                </div>
                <div class="col-xs-10 content-wrapper content-wrapper--news">
                    <div class="row">
                        {{> components/banner/banner title='' bg='news'}}
                    </div>
                    {{> components/section-title/section-title title='Новости'}}
                    <div class="row tile-item-wrapper">
                        <div class="col-xs-4">
                            {{> components/tile-item/tile-item}}
                        </div>
                        <div class="col-xs-4">
                            {{> components/tile-item/tile-item}}
                        </div>
                        <div class="col-xs-4">
                            {{> components/tile-item/tile-item}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-5 col-xs-3">
                            {{> components/secondary-btn/secondary-btn title='Больше новостей'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
    {{/inline}}

    {{#* inline "scripts-block"}}

    {{/inline}}
{{/layouts/base}}