{{#> layouts/base title="Афиша" }}

    {{#* inline "nav"}}
        {{> components/nav}}
    {{/inline}}

    {{#*inline "content-block"}}
        <div class="container-fluid site-wrapper">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    <div class="nav-content-wrapper">
                        {{> components/index-nav/index-nav}}
                        {{> components/socials/socials}}
                    </div>
                </div>
                <div class="col-xs-10 content-wrapper content-wrapper--poster">
                    <div class="row">
                        <div class="col-xs-12 poster-banner-wrapper">
                            {{> components/banner/banner title='Афиша' bg='compere'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            {{> components/calendar/calendar}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10" style="text-align: right">
                            {{> components/order-btn/order-btn href='#' value='забронировать'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            {{>components/order-form/order-form}}
                        </div>
                    </div>
                    <div class="row tile-item-wrapper">
                        <div class="col-xs-4">
                            {{> components/tile-item/tile-item}}
                        </div>
                        <div class="col-xs-4">
                            {{> components/tile-item/tile-item}}
                        </div>
                        <div class="col-xs-4">
                            {{> components/tile-item/tile-item}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-4 col-xs-4">
                            {{> components/secondary-btn/secondary-btn title='Больше анонсов'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
        {{> components/modal/modal title='Бронирование' text='Пожалуйста выберите дату для бронирования'}}
    {{/inline}}

    {{#* inline "footer-block"}}

    {{/inline}}

    {{#* inline "scripts-block"}}
        <script src="plugins/maskedInput/masked.input.js"></script>
        <script src="plugins/jqueryValidate/jquery.validate.js"></script>
    {{/inline}}

{{/layouts/base}}