{{#> layouts/base title="Афиша" }}

    {{#* inline "nav"}}
        {{> components/nav}}
    {{/inline}}

    {{#*inline "content-block"}}
        <div class="container-fluid site-wrapper">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    {{> components/index-nav/index-nav}}
                    {{> components/socials/socials}}
                </div>
                <div class="col-xs-10 content-wrapper content-wrapper--poster">
                    <div class="row">
                        <div class="col-xs-12 poster-banner-wrapper">
                            {{> components/poster-banner/poster-banner}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            {{> components/schedule/schedule}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-2">
                            {{> components/index-article/index-article title='' text='M-PARTY- центр подпитки положительными эмоциями! Это невероятный приобретенный организационный опыт. Слаженная команда режиссеров, постановщиков , звукооператоров, осветителей, ведущих, музыкантов , обьединенных под одним брендом. Это всегда качественные мероприятия! Каждое из них отличается особым подходом и незабываемым подчерком. У нас вы всегда  найдете для себя что-то необычное и запоминающееся !  Это 16 лет творческого пути. Более 1000 проведенных мероприятий, концертов, свадеб, дней рождений,выпускных балов. Это выступления по всей России и за рубежом. Стоит только набрать номер…'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
        {{> components/modal/modal title='Запись в школу' enroll=true action='school_callback.php'}}
    {{/inline}}

    {{#* inline "footer-block"}}

    {{/inline}}

    {{#* inline "scripts-block"}}
        <script src="plugins/parallax/parallax.min.js"></script>
        <script src="plugins/maskedInput/masked.input.js"></script>
        <script src="plugins/jqueryValidate/jquery.validate.js"></script>
    {{/inline}}

{{/layouts/base}}