{{#> layouts/base title="Репертуар"}}
    {{#* inline "nav"}}
        {{> components/nav}}
    {{/inline}}

    {{#*inline "content-block"}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 index-nav-wrapper">
                    <div class="nav-content-wrapper" style="position: fixed">
                        {{> components/index-nav/index-nav}}
                        {{> components/socials/socials}}
                    </div>
                </div>
                <div class="col-xs-10 content-wrapper content-wrapper--repertoire">
                    <div class="row">
                        {{> components/banner/banner title='Репертуар' bg='repertoire'}}
                    </div>
                    <div class="row repertoire-list">
                        {{#each repertoire}}
                            {{> components/repertoire-item/repertoire-item content=this}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{> components/index-footer/index-footer}}
    {{/inline}}

    {{#* inline "scripts-block"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
        <script src="js/templates.js"></script>
    {{/inline}}
{{/layouts/base}}