<article class="news-item">
    <img src="" alt="" class="news-item__img">
    <p class="news-item__caption">Мастер класс от Алексея Калачева</p>
    <p class="news-item__caption-date">11.11.2017</p>
</article>